.footer-main{
    /* border: 1px solid red; */
    height: inherit;
}
.footer-conent{

}
.footer-img{
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
}

.hover-image {
    width: 350px; /* Set your image width */
    height: auto; /* Maintain the aspect ratio */
    transition: transform 0.3s; /* Add a smooth transition effect */
}

/* Define the hover effect */
.hover-image:hover {
    transform: scale(1.8); /* Scale the image up by 10% on hover */
    /* You can also change other CSS properties like opacity or background-color here */
}