.main {
    /* border: 1px solid black; */
    height: inherit;
    width: 100%;
    /* display: flex;
    flex-direction: row; */
}

.content {}

.img-content {
    width: 100%;
    display: flex;
}

.text-content {
    /* border: 1px solid red; */
    width: 50%;
    background-image: url("/src/assets/img/istockphoto-800359302-612x612.jpg");
}

.text-tead {
    position: relative;
    /* border: 1px solid blue; */
    width: inherit;
    height: inherit;
    border-radius: 20px;
    color: rgb(209, 21, 37);
    margin-inline: auto;
}